@media (max-width: 600px) {

    .People{
        flex-flow: column;
    }
}
.RBSticky {
    position:fixed;
    height:auto !important;
    top:0;
    z-index:100;
    border-top:0;
    margin-top:0;
}
.menu-item {
    border: 1px solid black ;
    cursor: pointer;
    width: 200px;
    height: 100%;
    text-align: center;
    font-family: Impact, fantasy;
    font-weight: 1px;
    
}
    .menu-item>a{
        height: 100%;
    }
    .menu-item:hover,.menu-item>a:hover {
        background: black;
        color: #f6aea2;
        border: 1px solid #f6aea2;
    }
    #nav
    {background: #f6aea2;
    top: 20px;
    height: 40px;
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Fon{
    background-image: url(Fon2.jpg);
    margin: 0% ;
    background-attachment: fixed;
    background-size: cover;
}
.knopk{
    float: right;
    width: 100px;
    height: 30px;

}
 .Logo {
     display: block;
    margin: auto;
    width: 220px;
    height: 200px; 
 }
    div.menu-item a{
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    color:black;
    display: block;
}
div.menu-item a.pr{
    color:red;
}
.My
{margin-top: 10%;
    width: 30%;
    height: 30%;

}
.Info
{   
     
    color:#742321;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
  
}
p.Info
{   
     
    font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
    border: 10px dotted white;
  padding: 20px;
    background: #f6aea2;
 


    
}
.Text 
{
  
     margin-right: auto;
     margin-left: auto;
    
   height: auto;
   
   width: 50%;
   border-radius: 10px;
}
.div_Info
{  margin-top:100px;
     display: flex;
    height: auto;
    width: 100%;
}
.div_Info2{
    
    top:10;
    float: right;
    height: 500px;
    width:50%;
    border-radius: 250px;
    background: conic-gradient(#655 40%, yellowgreen 0);
}
.div_Info3
{
    float: right;
    height: auto;
    width:auto;
    border-radius: 250px;
    background: conic-gradient(deeppink 20%, #fb3 0, #fb3 30%, yellowgreen 0);
}
.info
      {    
          background:#742321;
          height: auto;
      width: 100% ;
      display:flex ;
      }
      .kontakt1{
          width: auto;
          height: auto;
          margin-left:44%;
          position: absolute;         
          margin-top: 1em;
      }
      .kontakt3{ 
          width: auto;
          height: 40px;
          display: flex;
          margin-left: 26px;
      }
      .info .kontakt2{
          width: 300px;
          height: auto;
      }
      .info .kontakt{
         text-align: center;
          color: #ff8888;
          width: 150px;
          height: auto;
          margin-left: 30px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          margin-block-end:0;
          margin-block-start:0;
      }

      .kontakt2>ul{
          color:#ff8888;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          list-style-type: square;
          list-style-image: url(serdechko3.png);
      }
      
      .im1
      {   
          width: 40px;
          height: 40px;
          margin: 5px;
      }       
         
    .im1:hover{ 
    transform: scale(1.1);
    }
    #maps{
        width: 500px;
        height: 500px;
        margin: 40px auto;
        border:1px solid white;
        z-index: 150;
        border-radius: 15px;
        display: none;
        position:fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display:none;
        z-index: 100;   
    
}
.mmaps
{  position: absolute;
   
    width: auto;
    height: 50px;
    right: 0;
    color:#ff8888;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;

}
.mmaps>img{
    margin:auto;
    cursor: pointer;
    
}
.mmaps>img:hover
{
transform: scale(1.2);
}
.People{
    display: flex;
    width: auto;
    height: auto;
}
.people1{
    width: 300px;
    height: 300px;
    margin: 100px;
border-radius: 300px;

}
.anim:hover
{
     padding: 0px;
    transform: scale(1.2);
  cursor: pointer;
  padding-bottom: 35px;

}
.people1>img{
    width: 300px;
    height: 300px;
border-radius: 200px;
}
.people1>h2{
    text-align: center;
    color: #742321;
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #742321;
    background-image: url(1.png);
    background-attachment: fixed;
    background-size: cover;
        
    margin-block-start: 2px;
    margin-block-end: 1px;
}
.people1>p{
    margin-top: 0px;
    text-align: center;
    color: #742321;
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #742321;
    background-image: url(1.png);
    background-attachment: fixed;
    background-size: cover;
}
.people2{
    width: 300px;
    height: 300px;
    border-radius: 300px;
  margin: 100px;
    
    }
    .people2>img{
        width: 300px;
        height: 300px;
   
    }
    .people2>h2{
        text-align: center;
        color: #742321;
        font-size: 35px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #742321;
            background-image: url(1.png);
    background-attachment: fixed;
    background-size: cover;
        margin-block-start: 2px;
        margin-block-end: 1px;
    }
    .people2>p{
        margin-top: 0px;
        text-align: center;
        color: #742321;
        font-size: 25px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #742321;
        background-image: url(1.png);
    background-attachment: fixed;
    background-size: cover;
    }
    .people3{
        width: 300px;
    height: 300px;
        border-radius: 300px;
        margin: 100px;
      
        }
        .people3>img{
            width: 300px;
            height: 300px;
       
        }
        .people3>h2{
            text-align: center;
            color: #742321;
            font-size: 35px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #742321;
                background-image: url(1.png);
    background-attachment: fixed;
    background-size: cover;
            margin-block-start: 2px;
            margin-block-end: 1px;
        }
        .people3>p{
            margin-top: 0px;
            text-align: center;
            color: #742321;
            font-size: 25px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #742321;
            background-image: url(1.png);
    background-attachment: fixed;
    background-size: cover;
        }
        .info_people
        { 
            width: auto;
            height: auto;
        }
       .do_info_people
        {
            text-align: center;
            color:#742321;
            font-size:15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 1px;
            background: #f6aea2;
 
        }
        .do_info_people>p
        {
        font-size: 20px;
        }
        }
        
        .posle_info_people{
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 50%;
        }
        .posle_info_people>h2{
            margin-left: auto;
            margin-right: auto;
    
            text-align: center;
            color:#f6aea2;

            margin-top:100px;
     text-align: center;
    border: 10px dotted white;
  padding: 20px;
    background: #742321;
        }
        .posle_info_people>p
        {
            text-align: center;
            color:#742321;
            font-size:20px;
            font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: #f6aea2;
        }

        .im1:hover{ 
            transform: scale(1.1);
            }
            #window{
                width: 60%;
                height: 60% ;
                margin: auto;
                z-index: 150;
                display: none;
                position:fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }