
   @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
   }
   @media (max-width: 600px ) {
       .pu1{
          margin-left: 30% !important; 
          margin-top: 23% !important; 
       }
       .pu{
        margin-left: 25% !important; 
        margin-top: 23% !important; 
     }
    .veduj{
        display: flex;
     
        flex-direction: column;
      
}
.glav_veduj>h1{
    font-size: 50px;
}
.foto_op1,.foto_op2,.foto_op3,.foto_op4{
   
    margin: auto !important;

    padding-top: 30px;
    margin-top: 10px !important;
}

.video>video{
    margin-left: 25% !important;
    
}
.info2,.info4{
    
   
      width: 100% !important;
      margin: 0;
        flex-direction: column;
}
.info3{
    
    width: 100% !important;
    
      flex-direction: column-reverse;
}
.info2  .foto,.info3  .foto,.info4  .foto{
      width: 90%  !important;
     margin: auto;
    
    

}
.info2 .foto .im,.info3 .foto .im,.info4 .foto .im{
      width: 100% !important;
      height: auto  ;
      border-radius: 10px;
      border: 1px solid #e16984;
      margin-bottom: 0;
   padding-bottom: 0;
}

.info2  .inform,.info3  .inform,.info4  .inform{
   width: 100% !important;
   margin-top: 10px !important;
   
}
.kontakt2{
    font-size: 10px;
    width: 10px !important;
}
.kontakt{
    text-align: center;
    font-size: 10px;
    width: 70px !important;
}
.kontakt3>a>img{
    height: 20px;
    width: 20px;
}
.kontakt3{
    margin-left: 20px !important;
}
.kontakt1{
    margin-left: 35% !important;
    text-align: center;
}
.mmaps{
    font-size: 10px;
}
.mmaps>img{
    height: 30px;
    width: 30px;
}
      }
  
.regButton:hover{
    background: black;
}

#window{
    width: 350px;
    height: 540px;
    margin: 40px auto;
    background-color: white;
    
    border:1px solid #742321;
    
    border-radius: 15px;
    display: none;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display:none;
    z-index: 100;
}


.form{
    width: 275px;
    margin: -15px auto 20px auto;
    text-align: center;
}
.form>h2{
    color:black;
    font-family: Impact, fantasy;
    font-size:30px;
    margin-block-start: 0em;
    margin-block-end:0em;
}
.input{
    width:260px ;
    padding: 5px;
    margin-bottom: 10px;
}
.radio{
    margin-bottom: 10px;
}
.close{
    position: absolute;
    margin-left:  209px;
    margin-top: 23px;
    cursor:pointer;
    border: 1px solid gray;
    padding: 2px;
    background: black;
}
#gray,#gray2{
    background-color: #742321;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display:none;
    z-index: 100;

}
.close:hover{
    background: #e16984;
}

.menu-item {
    border: 1px solid black ;
    cursor: pointer;
    width: 200px;
    height: 100%;
    text-align: center;
    font-family: Impact, fantasy;
    
}
.menu-item>a{
    height: 100%;
}
.menu-item:hover,.menu-item>a:hover {
    background: #742321;
    color: #e16984;
    border: 1px solid #e16984;
}
    #nav
    {background: #e16984;
    top: 20px;
    height: 40px;
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.RBSticky {
    position:fixed;
    height:auto !important;
    top:0;
    z-index:100;
    border-top:0;
    margin-top:0;
}
.Fon{
    background-image: url(Fon2.jpg);
    display: flex ;
    background-size: cover;

}
.knopk{
    margin-left: auto;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border:2px solid black;
    color:black;
    background:#e16984;
    position: absolute;
    right: 0;
    font-weight: 10;
}
.knopk:hover{
 background-color:#742321;
 color:#e16984;
 border:2px solid #e16984;
}
 .Logo {
    margin: auto;
    width: 220px;
    height: 200px;  
 }
 .Logo2{
    margin: auto;
    width: 110px;
    height: 110px; 
    margin-top: 20px;
 }
    .ui{
     background-color: white;
     margin: 0% ;
    }
    div.menu-item a{
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    color:#742321;
    display: block;
}
div.menu-item a.pr{
    color:#742321;
}
        .Fon_Wrapper{
            background: url(five.jpg) ;
            width: 100%;
            height: 700px;
            background-attachment: fixed;
           
        }
        .wrapper {
            height: 600px;
            padding-top: 10px;
            position: relative;
            width: 100%;
        }
        
        .slider {
            height: inherit;
            overflow: hidden;
            position: relative;
            width: inherit;
        }
        
        .slides {
            height: inherit;
            opacity: 0;
            position: absolute;
            width: inherit;
            z-index: 0;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
            -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
            -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
            transition: transform ease-in-out .5s, opacity ease-in-out .5s;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .slide1 { background-image: url(IMG-135.jpg); }
        .slide2 { background-image: url(nqjtWYMm0QM.jpg); }
        .slide3 { background-image: url(Corp.jpg); }
        .slide4 { background-image: url(Prazdnik.jpg); }
        .slide5 { background-image: url(New_Year.jpg); }
        
        #slide1:checked ~ .slider > .slide1,
        #slide2:checked ~ .slider > .slide2,
        #slide3:checked ~ .slider > .slide3,
        #slide4:checked ~ .slider > .slide4,
        #slide5:checked ~ .slider > .slide5 {
            opacity: 1;
            z-index: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        
        .wrapper > input {
            display: none;
        }
        
        .wrapper .controls {
            left: 50%;
            margin-left: -98px;
            position: absolute;
        }
        
        .wrapper label {
            cursor: pointer;
            display: inline-block;
            height: 8px;
            margin: 25px 12px 0 16px;
            position: relative;
            width: 8px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: background ease-in-out .5s;
            -moz-transition: background ease-in-out .5s;
            -o-transition: background ease-in-out .5s;
            transition: background ease-in-out .5s;
        }
        
        .wrapper label:hover,
        #slide1:checked ~ .controls label:nth-of-type(1),
        #slide2:checked ~ .controls label:nth-of-type(2),
        #slide3:checked ~ .controls label:nth-of-type(3),
        #slide4:checked ~ .controls label:nth-of-type(4),
        #slide5:checked ~ .controls label:nth-of-type(5) {
            background: #742321;
        }
        
        .wrapper label:after {
            border: 2px solid #742321;
            content: " ";
            display: block;
            height: 12px;
            left: -4px;
            position: absolute;
            top: -4px;
            width: 12px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }
        .pu
        {
            font-family:Pompadur ;
          
           margin-left:41%;
          font-family: Impact, fantasy;
           margin-top:1%;
         font-size: 50px;
           color: #e16984;
           border: #e16984;
 text-shadow: 0 0 5px #ffffff, 0 0 10px black, 0 0 20px #ffffff, 0 0 40px #efb4c5, 0 0 80px #efb4c5, 0 0 90px #efb4c5, 0 0 100px #efb4c5, 0 0 150px #efb4c5;
}
.pu1{
    font-family:Pompadur ;
    margin-left:43%; 
   font-family: Impact, fantasy;
    margin-top:1%;
  font-size: 50px;
    color: #e16984;
    border: #e16984;
    text-shadow: 0 0 5px #ffffff, 0 0 10px black, 0 0 20px #ffffff, 0 0 40px #efb4c5, 0 0 80px #efb4c5, 0 0 90px #efb4c5, 0 0 100px #efb4c5, 0 0 150px #efb4c5;

}
.info{
    display:flex;
}
.all{
    background-image: url(Fon2.jpg);
    background-attachment: fixed;
    height:auto;
    width: 100%;
    background-size: cover;
    margin: 0;
}
.info2{
    display:flex;
    width: 100%;


}
 .text{
   padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 150px;
    color:aqua;
     text-shadow:0 0 5px #ffffff, 0 0 10px black, 0 0 40px #efb4c5, 0 0 80px #efb4c5, 0 0 90px #efb4c5, 0 0 100px #efb4c5, 0 0 150px #efb4c5;
     /*font-family: url(Main/Cony-Light.otf); 0 0 20px #ffffff, 0 0 5px #ffffff,*/
 


}
.text>h2{
    animation: scroll   4s infinite;
   
}

@keyframes scroll {

    0% { font-size: 20px; }
    50% { font-size: 50px; }

    100% { font-size:20px; }
}


.info2  .foto{
     width: 50%;
     height: auto;
  
}
.info2 .foto .im{
    width: 80%;
     height: auto;
    border-radius: 10px;
border: 5px #fff solid;
}
.im1
{   
    width: 40px;
    height: 40px;
    margin: 5px;

}
.info2  .inform{
    width: 50%;
    height: auto;
    border-radius: 100px;
    background:rgba(0, 0, 0, 0.5);
    color:white;
}
.info2  .inform>h3{
text-align: center;
font-size: 30px;
color:#e16984;
   
}
.info2  .inform>p{
    text-align: center;
    font-size:25px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #e16984;
    }

.info3{
display: flex;
}
.info3  .foto{
    width: 50%;
    height: auto;
}
.info3 .foto .im{
    width: 80%;
    height: auto;
    margin-top:150px;
    float: right;
    border-radius: 10px;
border: 5px #ffff solid;

}
.info3  .inform{
    width: 50%;
    height: auto;
    border-radius: 100px;
    background:rgba(0, 0, 0, 0.5);
    color:white;
    margin-top:150px;
}
.info3  .inform>h3{
    text-align: center;
    font-size: 30px;
    color:#e16984;
    }
    .info3 .inform>p{
    
        text-align: center;
        font-size:25px;
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: #e16984;
        }
    
.info4{
    display: flex;
    padding-bottom: 100px;
    }
    
    .info4  .foto{
        width: 70%;
        height: auto;
    }
    .info4 .foto .im{
        width: 80%;
        height: auto;
        margin-top:150px;
        float: left;
        border-radius: 10px;
border: 5px #fff solid;
    
    }
    .info4  .inform{
        height: auto;
        width: 60%;
        border-radius: 100px;
        background:rgba(0, 0, 0, 0.5);
        color:white;
        margin-top:150px;
    }
    .info4  .inform>h3{
        text-align: center;
        font-size: 30px;
        color:#e16984;
        }
        .info4 .inform>p{
        
            text-align: center;
            font-size:25px;
            -webkit-text-stroke-width: 0.2px;
            -webkit-text-stroke-color: #e16984;
            }
.begin
{
    text-align: center;
    background-color: #e16984;
    height: 50px;
    width: 100%;
color:#742321;
}
h1{
    margin-top:0;
}
.glav_veduj{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#e16984;
   margin-top:13px;
color: #742321;
font-weight:bold;
font-size: 50px;
text-shadow:0px 0px 0 rgb(255, 160, 122),
0px -1px 0 rgb(2255, 160, 122),
0px -2px 0 rgb(255, 160, 122),
0px -3px 0 rgb(255, 160, 122),
0px -4px 0 rgb(255, 160, 122),
0px -5px 0 rgb(255, 160, 122), 
0px -6px 0 rgb(255, 160, 122),
0px -7px 6px rgba(0,0,0,0.6),
0px -7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}

.all2{
    background-image: url(muzic.jpg);
    background-attachment: fixed;
    height:100%;
    width: 100%;
    background-size: cover;
}

.veduj
{display: flex;
}

.foto_op1
{
    background-image: url(veduj1.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    border-radius: 100px;
    cursor: pointer;
}
.foto_op2
{   margin-left: 120px;
    background-image: url(veduj2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
    border-radius: 100px;
    cursor: pointer;
}
.foto_op3
{    margin-left: 120px;
    background-image: url(veduj3.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    border-radius: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#textt{
    margin-top: 44%;
    height: 270px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
display: none;
background-color: rgba(0, 0, 0, 0.5);
}
#textt>.Name{
    text-align: center;
    font-size:50px;
    margin-bottom: 1px;
    color: #e16984;
}
#textt2{
    margin-top: 44%;
    height: 270px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
display: none;
background-color: rgba(0, 0, 0, 0.5);
}
#textt2>.Name{
    text-align: center;
    font-size:50px;
    margin-bottom: 1px;
    color: #e16984;
}
#textt3{
    margin-top: 44%;
    height: 270px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
display: none;
background-color: rgba(0, 0, 0, 0.5);
}
#textt3>.Name{
    text-align: center;
    font-size:50px;
    margin-bottom: 1px;
    color: #e16984;
}
.osn{
    color: white;
    text-align: center;
}
#textt1{
    margin-top: 44%;
    height: 270px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
display: none;
background-color: rgba(0, 0, 0, 0.5);

}
#textt1>p{
    text-align: center;
    font-size:50px;
    color: #e16984;
}
.foto_op4
{    margin-left: 73px;
    background-image: url(veduj4.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    border-radius: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.info
      {    
          background: #efb4c5;
          height: auto;
      width: 100% ;
      display:flex ;
      }
      .kontakt1{
          width: auto;
          height: auto;
          margin-left:44%;
          position: absolute;         
          margin-top: 1em;
      }
      .kontakt3{ 
          width: auto;
          height: 40px;
          display: flex;
          margin-left: 26px;
      }
      .info .kontakt2{
          width: 300px;
          height: auto;
      }
      .info .kontakt{
         text-align: center;
          color: #742321;
          width: 150px;
          height: auto;
          margin-left: 30px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          margin-block-end:0;
          margin-block-start:0;
      }

      .kontakt2>ul{
          color:#742321;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          list-style-type: square;
          list-style-image: url(serdechko.png);
      }
      
      .im1
      {   
          width: 40px;
          height: 40px;
          margin: 5px;
      }       
         
    .im1:hover{ 
    transform: scale(1.1);
    }
    #maps{
        width: 500px;
        height: 500px;
        margin: 40px auto;
        border:1px solid white;
        z-index: 150;
        border-radius: 15px;
        display: none;
        position:fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display:none;
        z-index: 100;   
    
}
.mmaps
{  position: absolute;
   
    width: auto;
    height: 50px;
    right: 0;
    color:#742321;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;

}
.mmaps>img{
    margin:auto;
    cursor: pointer;
    
}
.mmaps>img:hover
{
transform: scale(1.2);
}